body {
    color: white;
    background: black;
}

header {
    border: solid 2px rgb(42, 122, 88);
    padding: 20px;
    font-size: 32px;
    color:rgb(42, 122, 88) ;
}

section {
  background-color: 



}