body {
  color: white;
  background: rgb(247, 4, 4);
  font-family: "Oswald", sans-serif;
  margin: 0px;
} margin-bottom: 100px


header {
  border: solid 2px rgb(42, 122, 88);
  padding: 20px;
  font-size: 32px;
  color: rgb(42, 122, 88);
}

section {
  background-color: rgb(104, 20, 115);
  padding-bottom: 80px;
  padding: ;
  justify-content: center;
}

  chamada-texto {
    margin-right: 5%;
    margin-right: ;

h1 {
  font-size: 40px;
}
p {
  font-size: :20px;
}



 .categoria-videos {
  displey: flex
  overflow-x: auto;
  gap: 10px;
}

.categoria{
    padding:-left: 20px
    padding: right 20px;
    margin-top:  50px;
  }
      
.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
  opacity: 1.0
  border: 5px solid green;

}
.categoria h2{
  color: rgb(42, 122, 228)




